*{
	padding: 0px;
	margin: 0px;
/*	position: relative;
	z-index: 1;*/
}

html{
	overflow: hidden;
}
body{
	background: linear-gradient(to bottom right, 
		#79a6d2 8%, #0044cc 15%, #0044cc 70%,#79a6d2);
	color: white;
	height: 100vh;

}


header{
	background-color: rgba(255,255,255, .6);
	/*opacity: 0.5;*/
	padding:  15px;
}

#date{
	display: inline-block;
	width: 50vw;
	color: rgb(72,72,72);
	font-size: .6em;
	letter-spacing: .2em;
	text-align: left;
	font-family: "Droid Sans", sans-serif;
	text-transform: uppercase;
}

main{
	text-align: center;
}

footer{
	width: calc(100% - 20px);
	position: absolute;
	bottom: 0;
	text-align: right;
	background-color: rgba(80,80,80,.7);
	padding: 10px;
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
}
footer img{
	vertical-align: middle;
	opacity: 1;
	width: 150px;
	padding: 2px;
}

form{
	display: inline-block;
	vertical-align: middle;
	width: 700px;
	margin-top: 20px;
}
#search, #result{
	margin: 0 auto;
	text-align: center;
}
#current{
	display: inline-block;
}

#current{
	/* the current box itself should be hidden, but NOT
	disply none (want the dimensions to stay fixed*/
	visibility: hidden;
	margin-top: 20px;
	height: 150px;
}

#current *{
	/* the contents of the current box toggle the display property*/
	display: none;
}

#city{
	/* aka the text input box*/
	display: inline-block;
	padding: 5px;
	width: 95%;
	color: #5c8a8a;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	letter-spacing: .01em;
	font-family: Verdana, Geneva, sans-serif;
}

#city::placeholder{
	opacity: .3;
}

#suggestions{
	
	display: block;
	z-index: 9999;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	height: 0;
	width: 15em;
	overflow-y: scroll;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 1.25em;
	
}

#loader{
	display: none;
	visibility: visible;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
	border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid rgb(0,223,223); /* Blue */
    border-radius: 50%;
    position: relative;
    z-index: 9999;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.weather-box{
	width: 225px;
	display: inline-block;
	outline: black 1px solid;
	margin: 40px;
	padding: 20px;
	background-color: rgba(0, 60, 179, .8);/*#003cb3;*/
	/*box-shadow: 1px 2px  3px 4px #99b3e6;*/
	font-family: sans-serif;
	
}


.weather-box h1{
	font-size: 1.2em;
	
}

.description{
	/*weather description (clear, drizzle, etc)*/
	font-size: .9em;
	display: block;
	margin: 8px;
	/*font-style: italic;*/
	
}

.temp{
	padding-top: 5px;
	font-size: 250%;
	font-family: Arial, sans-serif;
}


.icon{
	/* weather icon (cloud, sun, etc)*/
	width: 75px;
	margin-top: -10px;
}

#warning{
	font-size:1.5em;
	color: white;
}

.thunderstorm{
	background: linear-gradient(to bottom right, black, silver, white);
	/*background-color: gray;*/
}

.drizzle{
	background: linear-gradient(to bottom right, #6699cc 20%, silver  );

}
.rain{
	background: linear-gradient(to bottom right, silver 55%, #6699cc);
	 
}
.snow{
	background: linear-gradient(to bottom, #99b3e6,  #e6ffff, white);
	color: #5c5cd6;
}
.mist{
	background: linear-gradient(to bottom, #99b3ff , #d9d9d9, #99b3ff);
	color: rgb(100,100,100);
}
.clear{
	/*background-color: #99bbff;*/
	background: radial-gradient(circle at 75%  40%, yellow 6%, #ffff66 8%, transparent 30%, #66ccff)
}
.cloudy{
	background: radial-gradient(ellipse 300px 200px at 75% 75%, #e6e6e6 10%, #66b3ff);
	color: rgb(100,100,100);	
}
.default{
	background-color: #0044cc; 
	
}