*{
	padding: 0px;
	margin: 0px;
	z-index: 1;
}

html{
	overflow: hidden;
}
body{
	background-color: transparent;/*#b3b3ff;*/
	color: white;

}

main{
	height: 100vh;
	text-align: center;
}
header{
	height: 0px;
}
form{
	display: inline-block;
	vertical-align: middle;
	width: 700px;
}
#search, #result{
	margin: 0 auto;
	text-align: center;
}
#result{
	display: inline-block;
}
#search{
	padding-top: 200px;
}
#city{
	display: inline-block;
	padding: 5px;
	width: 95%;
	color: #5c8a8a;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	letter-spacing: .01em;
	font-family: Verdana, Geneva, sans-serif;
}

#loader{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	visibility: hidden;
	animation: spin 2s linear infinite;
	border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
#go{
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: top;
	text-align: center;
	padding-left: 2px;

	background-color: orange;
	font-size: 2em;
	color: yellow;
	border-radius: 20px;
}*/

.weather-box{
	width: 350px;
	display: inline-block;
	border: white 1px solid;
	margin: 40px;
	padding: 20px;
	background-color: #003cb3;
}

.weather-box img, .weather-box p{
	display: inline-block;
	vertical-align: middle;
}
.icon{
	width: 75px;
}

#result *{
	visibility: hidden;
}
#result{
	margin-top: 20px;
	height: 100px;
}
.description{
	font-size: 2em;
	/*font-style: italic;*/
	
}

.temp, p{
	font-family: Tahoma, Geneva, sans-serif;

}
.temp{
	font-size: 200%;
}
h1{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#suggestions{
	
	display: block;
	z-index: 9999;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	height: 0;
	width: 20em;
	overflow-y: scroll;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	
}

#warning{
	font-size:1.5em;
	color: white;
}

.thunderstorm{
	background: linear-gradient(to bottom right, black, gray, white);
	/*background-color: gray;*/
}

.clear{
	/*background-color: #99bbff;*/
	background: radial-gradient(circle at 75%  25%, yellow 1%, #ffff66 5%, transparent 30%, #4d88ff)
}

.rain{
	 background:
	  	-webkit-radial-gradient(ellipse 20px 20px at 0% 0%, rgba(0,255,255, 0.4), rgba(0,0,255, 0.4)),
  		-webkit-radial-gradient(ellipse 20px 20px at 50% 50%, green, red, transparent);
	/*background-image: */
	/*	radial-gradient(ellipse 40px 80px at 0% 0%, red, green, blue, yellow),*/
		/*radial-gradient(ellipse 60px 90px at 60% 60%, red, green, blue, yellow);*/
	/*background-size: 90px;*/

}/*
.rain:before{
	transform: rotate(60deg);
}*/
.default{
	background-color: #99e6e6;
}